[Unit]
Description="Run suspend-server.service at 23:59 daily"

[Timer]
OnCalendar=Mon..Sun *-*-* 23:59:*
Unit=suspend-server.service

[Install]
WantedBy=multi-user.target
